@import '~assets/scss/baseColor.scss';

.me-dtp {
	position: relative;

	&__label {
		font-size: 13px;
		line-height: 2;
	}

	&__date::v-deep {
		input {
			color: $color-default;
			border: 1px solid $color-grey;
			border-radius: 4px;
			width: 100%;
			padding: 6px 8px 6px 30px;
			height: 38px;
			line-height: 1;
		}
	}

	&__icon {
		position: absolute;
		bottom: 13px;
		font-size: 13px;
		left: 10px;
	}
}
